name: Generate Secrets

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Create secrets.lua
        env:
          DIGITRANSIT_KEY: ${{ secrets.DIGITRANSIT_KEY }}
          WIFI_SSID: ${{ secrets.WIFI_SSID }}
          WIFI_PWD: ${{ secrets.WIFI_PWD }}
        run: |
          cat > secrets.lua <<EOF
          return {
            DIGITRANSIT_KEY = "${DIGITRANSIT_KEY}",
            WIFI_SSID = "${WIFI_SSID}",
            WIFI_PWD = "${WIFI_PWD}"
          }
          EOF
          ls -l secrets.lua
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: secrets
          path: secrets.lua
